@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family:themillon;
    src: url(letra.1.ttf);
}


body{
    background-image: url("pokeball-5584675.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);

}
header{ 
    font-family:themillon;
    font-size: 5em;
    background-color: white;
    
}
header .logo{
    margin: 0;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2.7em;
    align-items: center;
    justify-content: center;
}
#TarjetasPoke {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: justify;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 350px 400px;
}
#TarjetasPoke .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    background-color: beige;
    margin: 0 15px 0 15px;
}
